/*Universal*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    font-family: 'Bitter', serif;
}

/*Header: Nav Bar*/
header {
    background-color: black;
    width: 100%;
}

h1 {
    color: lightseagreen;
    padding: 10px;
    position: relative;
    top: 20px;
}

nav {
    text-align: right;
    margin: auto;
}

li {
    font-size: 20px;
    display: inline;
    padding: 10px;
    position: relative;
    bottom: 20px;
    text-decoration: none;
}
a {
    color: white;
    text-decoration: none;
}

/*focal image */
#email-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 10px solid black;

}

/*Forms */
form {
    text-align: center;
    font-size: 20px;
}

#submit-button {
    background-color: lightseagreen;
    color: white;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-size: 18px;
}

/* Footer */

footer {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.settings-icon {
    height: 30px;
    position: fixed;
    top: 110px;
    left: 10px;
}

.home-icon {
    height: 28px;
    position: fixed;
    top: 160px;
    left: 10px;
}

.info-icon {
    height: 30px;
    position: fixed;
    top: 210px;
    left: 10px;
}
.magnifying-glass-icon {
    height: 30px;
    position: fixed;
    top: 210px;
    left: 10px;
}